@import "tailwindcss";

:root {
  --color-primary: #035be7;
  --color-secondary: #8b5cf6;
  --color-bg: #c2c2c2;
  --color-text: #1f1f1f2a;
}

/* Then define dark mode overrides */
@dark {
  :root {
    --color-bg: #1f1f1f2a;
    --color-text: #c2c2c2;
  }
}

 
@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);


  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}


@layer base {
  h1, h2, h3 {
    @apply  font-bold ;
  }
  a, p {
    @apply font-normal
  }

}

.noise-overlay {
  pointer-events: none; /* Ensures it doesn't block interactions */
  background-image: 
    radial-gradient(circle, rgba(255,255,255,0.15) 10%, transparent 10%),
    radial-gradient(circle, rgba(255,255,255,0.1) 10%, transparent 10%);
  background-size: 3px 3px, 2px 2px; /* Adjust for more/less grain */
  opacity: 1; /* Adjust transparency */
}